{% extends "base.html" %}

{% block head %}
{{ super() }}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='draw.css') }}">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='draw.js') }}"></script>
{% endblock %}

{% block content %}
<div id=container>
    <canvas id="main"></canvas>
    <canvas id="circle"></canvas>
</div>
<div style="position:relative; top:5px; left: 365px; z-index: 2">
    <button class="control" id="clear">clear</button>
    <button class="control" id="undo">undo</button>
    <button class="control" id="redo">redo</button>
</div>
<div id="wrapper">
    <div id="colormenu">
        <ul>
            <li><button class="colors" style="background-color:black" id="black"></button></li>
            <li>
                <button class="colors" style="background-color:red" id="red"></button>
            </li>
            <li>
                <button class="colors" style="background-color:yellow" id="yellow"></button>
            </li>
            <li>
                <button class="colors" style="background-color:#0080ff" id="#0080ff"></button>
            </li>
            <li>
                <button class="colors" style="background-color:#bfff00" id="#bfff00"></button>
            </li>
            <li>
                <button class="colors" style="background-color:#ffbf00" id="#ffbf00"></button>
            </li>
            <li>
                <button class="colors" style="background-color:white" id="white"></button>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

