<!doctype html>
<html lang="en" ng-app="p1">
  <head>
    <meta charset="utf-8">
    <title>p1</title>
  </head>
  <body>
    <div ng-controller="AppCtrl">
      <p> your username is {{name}} </p>
      <form ng-submit="newUser()">
        <input type="text" ng-model="newName"/>
      </form>
      <form ng-submit="sendMsg()">
        <input type="text" ng-model="chatMsg"/>
      </form>
      <div class="chat">
        <ul>
          <li ng-repeat="msg in msgs track by $index">{{msg.user}}: {{msg.text}}</li>
        </ul>
      </div>
    </div>
  </body>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="app.css">
  <script src="angular/angular.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="main.js"></script>
</html>



