html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a>span {
    text-decoration: none;
}

a, a>span :hover {
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    color: #545454;
    font-family: 'Lato', sans-serif;
    padding: 0;
    overflow-x: hidden;
}

#app{
    height: 100%;
    margin: 0;
    padding: 0;
}

#loginPopout {
    background:#000;
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9999;
}

.whiteboard {
    -webkit-user-select: none;
    overflow: hidden;
    display:inline-block;
    width: calc(80% - 240px);
    height:99%;
    margin:0;
    padding:0;
    position:absolute;
}

    .canvasContainer {
        width:100%;
        height:100%;
        text-align: center;
    }

    canvas {
        width:100%;
        height:100%;
    }

    .artistOptions {
        width:100%;
        height:100%;
    }

    .editOptions {
        border-top: 1px solid #DEDEDE;
        width:100%;
        height: 50px;
        line-height: 50px;
        position: absolute;
        bottom:0px;
        left:0;
        right:0;
        margin: 0 auto 0 auto;
        display: flex;
    }

        .option {
            cursor: pointer;
            float:left;
            line-height: inherit;
            color: #2f2c2f;
            font-size: 30px;
            transition: font-size 0.5s ease;
            padding: 0 10px 0 10px;
            margin: 0 auto 0 auto;
        }

        .option:hover {
            color: #FF8669;
        }

        #startGame {
            line-height: 60px;
            color:#F79F66;
            position:absolute;
            font-size: 200%;
            top:40%;
            right:50%;
            opacity: .5;
        }

        #startGame:hover {
            opacity: 1;
        }

.timer {
    display:flex;
    margin: 0 auto 0 auto;
    position: absolute;
    width:20%;
    left:50%;
    top:50px;
    font-size: 250%;
    pointer-events: none;
}

.word {
    pointer-events: none;
    display: inline-block;
    margin: 0 auto 0 auto;
    position: absolute; 
    left: 50%;
    bottom:50px;
    font-size: 250%;
}

.word>span {
    pointer-events: none;
    position: relative; 
    left: -50%;
}

.spectatorMessage {
    display:flex;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 400px;
}

.brushOptions {
    position: absolute;
    top:30px;
    left:30px;
}

    .colorCircle {
        cursor: pointer;
        border-radius: 50%;
    }

    .cover {
        position: fixed;
        top:0;
        left:0;
        bottom:0;
        right: 0;
    }


.spinner {
    text-align: center;
    width:100%;
    height: 100%;
}

.spinner>i, .spinner>span {
    position:relative;
    top: calc(50% - 10px);
}

.container {
    height:100%;
    width:100%;
}

    #message-section {
        float: right;
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 20%;
    }
        
        .message-list {
            flex: 1 1 auto;
            direction:rtl; 
            overflow-y: scroll;
            overflow-x: hidden;
            display:flex;
            flex-flow: column;
        }

                .messageListHeader {
                    margin-top: auto;
                    width: 100%;
                }
                .message {
                    flex: 0 0 auto;
                    width:100%;
                    padding-top:2px;
                    padding-bottom: 4px;
                    white-space: nowrap;
                    direction: ltr; 
                }

                .message:hover {
                    background:#f1f1f1;
                }

                    .leftMessage {
                        width: 20px;
                        height: 100%;
                        display: inline-block;
                    }

                    .innerMessage {
                        white-space:normal;
                        display: inline-block;
                        word-wrap: break-word;
                        width:90%;
                        padding-right: 10px;
                    }

                        .authorName {
                            font-weight: 800;
                            padding-bottom: 7px;
                        }

                        .messageTime {
                            font-size: 80%;
                            color:#767676;
                        }

        #msg-send {
            flex: 0 1 60px;
            width: 100%;
            height: 60px;
        }

            .message-composer {
                font-family: 'Lato', sans-serif;
                font-size: 102%;
                border: 2px solid #dddddd;
                height: 20px;
                width: 85%;
                outline: none;
                margin:auto;
                border-radius: 4px;
                resize:none;
                padding-right: 10px;
                padding-top: 8px;
                padding-bottom: 7px;
                padding-left: 10px;
                margin-right: auto;
                margin-left: 25px;
                margin-top: 15px;
                margin-bottom: auto;
            }

    #sidebar {
        float:left;
        height: 100%;
        width:240px;
        color:#DEDEDE;
        background:#2f2c2f;
        font-weight: 400;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;
    }

        .sidebarHeader {
            margin-bottom: 20px;
            font-size: 130%;
            font-weight: 900;
            color:white;
            height: 70px;
            width: 100%;
        }
            .headerText {
                position: absolute;
                padding: 15px;
            }

        .sidebarHeader:hover {
            background:#252525;
        }

        .sidebarElementArea {
            padding-right: 10px;
        }

        .channelHeader {
            padding-left: 15px;
            font-weight: 900;
            padding-bottom: 6px;
        }

            .channelHeaderText {
                color:#DEDEDE;
                opacity: .7;
                display: inline-block;
                width: 90%;
                font-size: 78%;
            }

                .channelHeaderText:hover {
                    opacity: 1;
                }

            .addChannel {
                font-size: 85%;
                opacity: .4;
                color:#DEDEDE;
                display: inline-block;
            }

                .addChannel:hover {
                    opacity: 1;
                }

        .sidebarElement {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            padding-bottom: 4px;
            padding-top: 2px;
            display:block;
            width:100%;
            opacity: .7;
        }

            .sidebarElement:hover {
                background:#5C6380;
            }

            .sidebarElement.active {
                background: #D39B46;
                opacity: 1;
            }

        .sidebarElement>span>i {
            opacity: .4;
        }

        #sidebar .sidebarElement >span {
            padding-left: 15px;
            color:#DEDEDE;
            user-select: none;
        }

/* Pretty Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.23);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

